#logo{
    width: 200px;
}
header{
    display: flex;
    justify-content: space-between;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.barra-menu{
    display: none;
}
.estilo-menu{
    list-style: none;
    display: flex;
}
.estilo-menu a{
    display: block;
    text-decoration: none;
    margin: 7px;
    font-size: 25px;
}
#menu-movil li:nth-child(-n+2){
    border-right: 1px solid blue;
}
#loading{
    display: block;
    margin:0 auto;
    display: none;
}
#containerpk article{
    width: 20%;
    border: 1px solid blue;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#containerpk{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#containerpk article img{
    width: 80px;
}

@media screen and (max-width: 450px) {
    h1{
        display: none;
    }
    header{
        justify-content: space-around;
    }
    .estilo-menu a{
        font-size: 17px;
    }
    .estilo-menu{
        display: inline;
    }
    .menu-movil{
        display: none;
    }
    .barra-menu{
        display: block;
    }
    #menu-movil li:nth-child(-n+2){
        border-right: none;
    }
    #containerpk article{
        width: 100%;
        border: 1px solid blue;
        border-radius: 5px;
        display: flex;
        align-content: center;
        flex-direction: column;
        align-items: center;
    }
}
    