body {
    background-image: url("../img/diseño_fondo.jpg");
    background-size: cover;
}

#logo {
    width: 200px;
}

header {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.barra-menu {
    display: none;
}

.estilo-menu {
    list-style: none;
    display: flex;
}

.estilo-menu a {
    display: block;
    text-decoration: none;
    margin: 7px;
    font-size: 25px;
}

#menu-movil li:nth-child(-n+2) {
    border-right: 1px solid black;
}

#loading {
    display: block;
    margin: 0 auto;
    display: none;
}

#containerpk article {
    width: 20%;
    /*border: 1px solid black;*/
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7px;
}

#containerpk {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#containerpk article img {
    width: 80px;
}

.navegacion {
    text-align: right;
    margin-right: 10px;
}

#next {
    margin-left: 10px;
}

#next,
#previous {
    cursor: pointer;
}

.container article {
    border: 3px solid black;
}

.container article.grass {
    border-color: green;
}

.container article.fire {
    border-color: red;
}

.container article.water {
    border-color: blue;
}

.container article.bug {
    border-color: #186706;
}

.container article.dark {
    border-color: black;
}

.container article.dragon {
    border-color: #001A84;
}

.container article.electric {
    border-color: yellow;
}

.container article.fairy {
    border-color: #ff8ac5;
}

.container article.fighting {
    border-color: #8A1000;
}

.container article.flying {
    border-color: #FFFFFF;
}

.container article.ghost {
    border-color: #D891EF;
}

.container article.ground {
    border-color: #8d4925;
}

.container article.ice {
    border-color: #84b6f4;
}

.container article.normal {
    border-color: #666666;
}

.container article.psychic {
    border-color: #ffa8d9;
}

.container article.rock {
    border-color: #d0aa8c;
}

.container article.steel {
    border-color: gray;
}

.container article.sinister {
    border-color: #1b1b1b;
}

.container article.poison {
    border-color: #7000E0;
}



@media screen and (max-width: 450px) {
    h1 {
        display: none;
    }

    header {
        justify-content: space-around;
    }

    .estilo-menu a {
        font-size: 17px;
    }

    .estilo-menu {
        display: inline;
    }

    .menu-movil {
        display: none;
    }

    .barra-menu {
        display: block;
    }

    #menu-movil li:nth-child(-n+2) {
        border-right: none;
    }

    #containerpk article {
        width: 100%;
        border: 1px solid black;
        border-radius: 5px;
        display: flex;
        align-content: center;
        flex-direction: column;
        align-items: center;
    }
}